@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

 

.background-screen{
  background: url(./images/bg.png), rgba(41, 27, 34, 1); 
  background-size: cover;
  background-repeat: no-repeat;
} 

.dm-mono {
  font-family: "DM Mono", monospace; 
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  }