@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&family=DM+Sans:opsz@9..40&display=swap');

@font-face {
  font-family: 'DM Sans';
  src: url('https://fonts.cdnfonts.com/s/29932/DMSans-Regular.woff') format('woff');
}
 

.background-screen{
  background: url(./images/bg.png), rgba(41, 27, 34, 1); 
  background-size: cover;
  background-repeat: no-repeat;
} 

.dm-mono {
  font-family: "DM Mono", monospace !important; 
}


.dm-sans {
  font-family: "DM Sans", sans-serif !important; 
  }
 